.header {
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 152px 0px;
    text-align: center;
}